doctype html
html(lang="en")

  head
    title= title
    link(rel="stylesheet" href="style.css")

  body
    #text
    #info
      h1.title= title
      ul.files
        each ext in [".txt", ".gml", ".gephi", ".png"]
          li: a(href="#{bucket}/#{slug}/#{slug}#{ext}")= ext
      .twtr: a(href="https://twitter.com/clured") @clured
      .back: a(href="#") &larr; Back

  script(type="text/javascript").
    window._config = !{JSON.stringify(locals)};

  script(type="text/javascript" src="script.js")
